
<div id="signup">
  <form action="/sign-up" method="POST">
    <div>
    <label>
      Username
      <input type="text" name="username" placeholder="ironhacker" />
    </label>
  </div>
  <div>
    <label>
      Email
      <input type="email" name="email" placeholder="rockstar@ironhack.com" />
    </label>
  </div>
  <div>
    <label>
      Password
      <input type="password" name="password" placeholder="********" />
    </label>
  </div>
  
    <button class="btn primary" type="submit">Create account</button>
</div>
    <%#!-- error message will be added here --%>
  </form>
</div>

<a href="/">Homepage</a>


