body {
  margin: 10px  auto;
  text-align: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#signup {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}